@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-1: #008248;
  --green-2: #00704a;
  --orange: #C84630;
  --off-white: #ebe8e2;
}

body {
  background-color: var(--off-white);
}

.link-primary {
  color: var(--green-1);
  text-decoration: underline;

  &:hover {
    color: var(--orange);
    text-decoration: none;
  }
}

.link-secondary {
  color: var(--green-1);

  &:hover {
    color: var(--orange);
  }
}

@font-face {
  font-family: 'Josefin';
  src: url('fonts/JosefinSans.ttf');
}

@font-face {
  font-family: 'PTSans';
  src: url('fonts/PTSans-Regular.ttf');
}
