@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #253f4b;
  --secondary: #ff0800;
  --tertiary: #4C6085;
  --link: #ea3c53;
  --bg: #f7f7f7;
}

body {
  background-color: var(--bg);
  color: var(--primary);
}

.link-primary {
  color: var(--link);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.link-secondary {
  color: var(--primary);

  &:hover {
    color: var(--secondary);
  }
}

@font-face {
  font-family: 'Spectral';
  src: url('fonts/Spectral-Regular.ttf');
}

@font-face {
  font-family: 'Spectral';
  src: url('fonts/Spectral-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Spectral';
  src: url('fonts/Spectral-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Spectral';
  src: url('fonts/Spectral-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Josefin';
  src: url('fonts/JosefinSans.ttf');
}

@font-face {
  font-family: 'PTSans';
  src: url('fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: 'PTSans';
  src: url('fonts/PTSans-Bold.ttf');
  font-weight: bold;
}
